<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block favicon %}
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/site.webmanifest">
		{% endblock %}
		{% block javascripts %}
			<link rel="stylesheet" href="{{ pathToSiteRoot }}assets/css/style.css">
		{% endblock %}
		{% block stylesheets %}
			<script src="{{ pathToSiteRoot }}assets/js/scripts.js" defer></script>
		{% endblock %}
	</head>
	<body>
		{% include 'sideBar.twig' %}
		<header>
			<nav>
				{% block nav_menu %}{% endblock %}
			</nav>

		</header>
		<div class="html_body">
			{% block content %}
				<h1>{{ site_name }}</h1>
			{% endblock content %}
			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
		</div>

	</body>
</html>
