<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block javascripts %}
			<link rel="stylesheet" href="assets/css/styles.css">
		{% endblock %}
		{% block stylesheets %}
			<script src="assets/js/scripts.js" defer></script>
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				{% block nav_menu %}
				{% endblock %}
			</nav>

		</header>
		{% block content %}
			<h1>{{ site_name }}</h1>
		{% endblock %}

	</body>
