table {
  border-style: outset;
  background-color: #c0dcc0;
  color: blue;
  text-align: center;
  border-color: #000000;
  border-style: none;
  border-width: 0px;
}

.inertable {
  border-width: 10px;
  border-style: outset;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #c0dcc0;
  color: #000000;
  font-size: 5mm;
  align-items: center;
}

.small {
  max-width: 800px;
  align-items: center;
  justify-content: center;
}

.sidebar {
  margin: 0;
  padding: 16px; /* Add a unit of measurement, e.g., px */
  width: 200px;
  background-color: hsl(337, 71%, 77%); /* Add hsl() prefix */
  position: fixed;
  min-height: 90vh;
  height: 90%;
  overflow: auto;
  box-sizing: border-box;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  flex-grow: 1;
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.html_body {
  margin-left: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.html_body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Set the main content to flex-grow to fill the available space */
.content {
  flex-grow: 1;
}

.footer-content {
  flex-shrink: 0; /* Prevent the footer from shrinking */
  /* background-color: #f0f0f0; */
  padding: 10px;
}
.footer {
  flex-shrink: 0;
  background-color: #f0f0f0;
  padding: 10px;
}

h2 {
  display: block;
  /* font-size: 6em; */
  margin-top: 1.5rem;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-shadow: 10px 10px 20px red;
  /* color: Crimson; */
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.centre {
  text-align: center;
}

.legal-list {
  display: inline;
  padding-left: 0;
}

.legal-list li {
  display: inline-block;
  margin-right: 10px;
}

.indented-content {
  padding-left: 20px; /* Adjust the value as needed */
}

p {
  max-width: 80vw;
  margin-bottom: 1rem;

  /*margin: 0 auto;
  line-height: 1.6;*/
}
p.small-width {
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.6;
}

ul,
p {
  max-width: calc(
    100vw - 3rem - 200px
  ); /* Adjust the padding value (40px) as needed */
  float: none;
}

ul {
  margin-left: 1rem;
  max-width: calc(
    100vw - 4rem - 200px
  ); /* Adjust the padding value (40px) as needed */

}

h2 {
  max-width: calc(100vw - 6rem - 200px); /* Adjust the padding value (40px) as needed */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }

  .content {
    margin-left: 2px;
  }

  .html_body {
    margin-left: 2px;
  }
}

@media screen and (max-width: 600px) {
  .sidebar a {
    text-align: left;
    float: none;
  }

  .content {
    margin-left: 0px;
  }

  .html_body {
    margin-left: 0px;
  }
  p {
    margin-bottom: 1rem;
  }
  ul,
  p {
    text-align: left;
    padding-left: 0px;
    max-width: calc(
      100vw - 3rem
    ); /* Adjust the padding value (40px) as needed */
    float: none;
  }
  h2 {
    max-width: calc(
      100vw - 6rem
    ); /* Adjust the padding value (40px) as needed */
  }
}
