table {
  border-style: outset;
  background-color: #c0dcc0;
  color: blue;
  text-align: center;
  border-color: #000000;
  border-style: none;
  border-width: 0px;
}

.inertable {
  border-width: 10px;
  border-style: outset;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #c0dcc0;
  color: #000000;
  font-size: 5mm;
  align-items: center;
}

.small {
  max-width: 800px;
  align-items: center;
  justify-content: center;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

h2 {
  display: block;
  font-size: 6em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-shadow: 10px 10px 20px red;
  color: Crimson;
}

h2 {
  text-align: center;
}

.legal-list {
  display: inline;
  padding-left: 0;
}

.legal-list li {
  display: inline-block;
  margin-right: 10px;
}